@import 'tailwindcss';
button {
  cursor: pointer;
  transition: all 0.2s ease;
}
a {
  cursor: pointer;
  transition: all 0.2s ease;
}
select {
  cursor: pointer;
  transition: all 0.2s ease;
}
@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}